<footer>
  <div class="footer-root container-sm">
    <section class="footer-section" style="flex-grow: 6;">
      <strong><h4>Community</h4></strong>
      <a href="https://github.com/borkerprotocol/docs/wiki" target="_blank">Wiki</a>
      <a href="https://github.com/borkerprotocol" target="_blank">Github</a>
      <a href="https://twitter.com/borkerprotocol" target="_blank">Twitter</a>
      <a href="https://t.me/borkerprotocol" target="_blank">Telegram</a>
      <a href="https://linkedin.com/company/borkerprotocol" target="_blank">LinkedIn</a>
    </section>
    <section class="footer-section" style="flex-grow: 6;">
      <strong><h4>Docs</h4></strong>
      <a href="https://github.com/borkerprotocol/docs/blob/master/protocol-specification.md" target="_blank">Protocol Spec</a>
      <a href="https://github.com/dogecoin/dogecoin" target="_blank">Dogecoin</a>
      <a href="https://github.com/borkerprotocol/superdoge-rs" target="_blank">Superdoge</a>
      <a href="https://github.com/borkerprotocol/borker-server" target="_blank">Borker Server</a>
      <a href="https://github.com/borkerprotocol/borker-wallet" target="_blank">Borker Wallet</a>
    </section>
    <section class="footer-section" style="flex-grow: 6;">
      <strong><h4>Donate</h4></strong>
      <p style="color: dimgray;">Bitcoin: 3CyhvXgqr2Ckmj61UmCNUA1U2fw11jXWQz</p>
    </section>
  </div>
</footer>
