<footer>
  <div class="footer-root container-sm">
    <section class="footer-section" style="flex-grow: 0;">
      <img src="assets/images/grin_mw_logo.svg" class="grin-logo-footer" alt="Description">
    </section>
    <section class="footer-section" style="flex-grow: 6;">
      <strong><h4>Community</h4></strong>
      <div><a href="https://github.com/borkerprotocol">Github</a></div>
      <div><a href="https://twitter.com/borkerprotocol">Twitter</a></div>
      <div><a href="https://t.me.borker">Telegram</a></div>
      <div><a href="https://linkedin.com/company/borkerprotocol">LinkedIn</a></div>
      <div><a href="https://github.com/borkerprotocol/site">Improve this website</a></div>
    </section>
  </div>
</footer>
