<nav>
  <ul class="nav-logo">
    <li><a href="/">Borker</a></li>
  </ul>
  <ul class="nav-root">
    <li>
      <a href="https://wallet.borker.io" target="_blank">
        Wallet
      </a>
    </li>
    <li>
      <span class="dropdown">
        Community
        <nav>
          <span class="dropdown-heading">Get Involved</span>
          <a href="https://github.com/borkerprotocol/docs/wiki" target="_blank">Wiki</a>
          <a href="https://github.com/borkerprotocol" target="_blank">Github</a>
          <a href="https://twitter.com/borkerprotocol" target="_blank">Twitter</a>
          <a href="https://t.me/borkerprotocol" target="_blank">Telegram</a>
          <a href="https://linkedin.com/company/borkerprotocol" target="_blank">LinkedIn</a>
        </nav>
      </span>
    </li>
    <li>
      <span class="dropdown">
        Docs
        <nav>
          <span class="dropdown-heading">Run your own Node</span>
          <a href="https://github.com/borkerprotocol/docs/blob/master/protocol-specification.md" target="_blank">Protocol Spec</a>
          <a href="https://github.com/dogecoin/dogecoin" target="_blank">Dogecoin</a>
          <a href="https://github.com/borkerprotocol/superdoge-rs" target="_blank">Superdoge</a>
          <a href="https://github.com/borkerprotocol/borker-server" target="_blank">Borker Server</a>
          <a href="https://github.com/borkerprotocol/borker-wallet" target="_blank">Borker Wallet</a>
        </nav>
      </span>
    </li>
  </ul>
  <ul class="nav-hamburger">
    <button class="hamburger" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </ul>
  <div>
  </div>
  <ul class="nav-mobile">
    <div class="nav-mobile-fade">
      <li>
        <a href="https://wallet.borker.io">Wallet</a>
      </li>
      <span class="nav-mobile-heading">Community</span>
      <li>
        <a href="https://github.com/borkerprotocol/docs/wiki">Wiki</a>
      </li>
      <li>
        <a href="https://github.com/borkerprotocol">Github</a>
      </li>
      <li>
        <a href="https://twitter.com/borkerprotocol">Twitter</a>
      </li>
      <li>
        <a href="https://t.me/borkerprotocol">Telegram</a>
      </li>
      <li>
        <a href="https://linkedin.com/company/borkerprotocol">LinkedIn</a>
      </li>
      <span class="nav-mobile-heading">Docs</span>
      <li>
        <a href="https://github.com/borkerprotocol/docs/blob/master/protocol-specification.md">Protocol Spec</code></a>
      </li>
      <li>
        <a href="https://github.com/dogecoin/dogecoin">Dogecoin</code></a>
      </li>
      <li>
        <a href="https://github.com/borkerprotocol/superdoge-rs">Superdoge</code></a>
      </li>
      <li>
        <a href="https://github.com/borkerprotocol/borker-server">Borker Server</code></a>
      </li>
      <li>
        <a href="https://github.com/borkerprotocol/borker-wallet">Borker Wallet</a>
      </li>
    </div>
  </ul>
</nav>
