<nav>
  <ul class="nav-logo">
    <li><a href="/">Borker</a></li>
  </ul>
  <ul class="nav-root">
    <li>
      <a href="https://github.com/borkerprotocol/docs/wiki">Wiki</a>
    </li>
    <li>
      <span class="dropdown">
        Community
        <nav>
          <span class="dropdown-heading">Get Involved</span>
          <a href="https://github.com/borkerprotocol">Github</a>
          <a href="https://twitter.com/borkerprotocol">Twitter</a>
          <a href="https://t.me/borkerprotocol">Telegram</a>
          <a href="https://linkedin.com/company/borkerprotocol">LinkedIn</a>
        </nav>
      </span>
    </li>
    <li>
      <span class="dropdown" href="https://www.grin-forum.org/">
        Guides
        <nav>
          <span class="dropdown-heading">Learn to use Borker</span>
          <a href="https://github.com/borkerprotocol/docs/blob/master/protocol-specification.md">Protocol Specification</code></a>
          <a href="https://github.com/dogecoin/dogecoin">Dogecoin</code></a>
          <a href="https://github.com/borkerprotocol/superdoge-rs">Superdoge</code></a>
          <a href="https://github.com/borkerprotocol/borker-server">Borker Server</code></a>
          <a href="https://github.com/borkerprotocol/borker-wallet">Borker Wallet</a>
        </nav>
      </span>
    </li>
  </ul>
  <ul class="nav-hamburger">
    <button class="hamburger" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </ul>
  <div>
  </div>
  <ul class="nav-mobile">
    <div class="nav-mobile-fade">
      <span class="nav-mobile-heading">Borker</span>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="https://github.com/borkerprotocol/docs">Introduction</a>
      </li>
      <li>
        <a href="https://github.com/borkerprotocol/docs/releases">Releases</a>
      </li>
      <li>
        <a href="https://github.com/borkerprotocol/docs/wiki">Wiki</a>
      </li>
      <span class="nav-mobile-heading">Learn more</span>
      <li>
        <a href="https://github.com/borkerprotocol/docs/borker4bitcoiners">Borker for Bitcoiners</a>
      </li>
      <li>
        <a href="/funding">Community funding</a>
      </li>
    </div>
  </ul>
</nav>
