<nav>
  <ul class="nav-logo">
    <li><a href="/">Borker</a></li>
  </ul>
  <ul class="nav-root">
    <li>
      <a href="https://github.com/borkerprotocol/docs/wiki">Wiki</a>
    </li>
    <li>
      <span class="dropdown">
        Community
        <nav>
          <span class="dropdown-heading">Get Involved</span>
          <a href="https://t.me.borker/">Telegram</a>
        </nav>
      </span>
    </li>
    <li>
      <span class="dropdown" href="https://www.grin-forum.org/">
        Guides
        <nav>
          <span class="dropdown-heading">Learn to use Borker</span>
          <a href="https://github.com/mimblewimble/docs/wiki/how-to-run-a-grin-node">Running a borker node</code></a>
          <a href="https://github.com/mimblewimble/docs/wiki/how-to-run-a-grin-node">Running a superdoge node</code></a>
          <a href="https://github.com/mimblewimble/docs/wiki/how-to-use-the-grin-wallet">Using the wallet</a>
        </nav>
      </span>
    </li>
    <!-- <li><a href="/dev">Documentation</a></li> -->
  </ul>
  <ul class="nav-hamburger">
    <button class="hamburger" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </ul>
  <div>
  </div>
  <ul class="nav-mobile">
    <div class="nav-mobile-fade">
      <span class="nav-mobile-heading">Grin</span>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="https://github.com/mimblewimble/grin/blob/master/doc/intro.md">Introduction</a>
      </li>
      <li>
        <a href="https://github.com/mimblewimble/grin/releases">Releases</a>
      </li>
      <li>
        <a href="https://github.com/mimblewimble/docs/wiki">Wiki</a>
      </li>
      <li>
        <a href="https://www.grin-forum.org/">Forum</a>
      </li>
      <span class="nav-mobile-heading">Guides</span>
      <li>
        <a href="https://github.com/mimblewimble/grin/blob/master/doc/build.md">Setup Grin</a>
      </li>
      <li>
        <a href="https://github.com/mimblewimble/grin-miner/blob/master/README.md">Setup Grin Miner</a>
      </li>
      <span class="nav-mobile-heading">Learn more</span>
      <li>
        <a href="https://github.com/mimblewimble/grin/blob/master/doc/intro.md">Grin Introduction</a>
      </li>
      <li>
        <a href="https://github.com/mimblewimble/grin/blob/master/doc/pow/pow.md">Cuckoo cycle</a>
      </li>
      <li>
        <a href="https://github.com/mimblewimble/grin/blob/master/doc/grin4bitcoiners.md">Grin for Bitcoiners</a>
      </li>
      <li>
        <a href="/friends">Friends of Grin</a>
      </li>
      <li>
        <a href="https://github.com/mimblewimble/docs/wiki/Community-projects">Community projects</a>
      </li>
      <li>
        <a href="/funding">Community funding</a>
      </li>
    </div>
  </ul>
</nav>
